.message {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.content {
    position: relative;
    margin-top: -20px;
    height: 90px;
    width: 200px;
    background-color: rgba(44, 177, 47, 0.91);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    font-style: italic;
}

.name {
    font-style: normal;
}

.content::after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 75px;
    right: 205px;
    border: 10px solid transparent;
    border-right: 10px solid rgba(44, 177, 47, 0.91);
    border-bottom: 10px solid rgba(44, 177, 47, 0.91);
}

img{
    width: 150px;
}
