.buttonPriority {
    margin: 15px 15px 0 0;
    font-weight: bold;
}

.buttonWrapper {
    margin-top: 2px;
    width: 380px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid  black;
    border-radius: 3px;
    background-color: #3e864a;
}

